*{
  box-sizing: border-box;
}

html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

#app{
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dev_section_show{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10rem ;
}

.dev_section_hide{
  display: none;
}

.dev_img{
  width: 15rem;
  background-size: cover;
}

.dev_img:hover{
  cursor: pointer; 
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.traine_section_show{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traine_section_hide{
  display: none;
}

.traine_img{
  width: 15rem;
  background-size: cover;
}

.traine_img:hover{
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
}

.btn_back {
  background-color: white;
  width: 200px;
  height: 50px;
  color:black;
}

.dev_page_hide{
  display: none;
}

.dev_page_show{
  display: block;
}

.traine_page_hide{
  display: none;
}

.traine_page_show{
  display: block;
}