*{
  box-sizing: border-box;
}

html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}

#app{
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border:1px solid white;
}

.dev_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  .dev_img{
    width: 10rem;
    background-size: cover;
  }
}

.traine_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  .traine_img{
    width: 10rem;
    background-size: cover;
  }
}

